
<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Metodo:</td>
  <dd> {{ getHeroDescription() }} </dd> <!-- esto es un metodo y debe ser llamado con los parentesis -->

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }} </dd>  <!-- esto es una propiedad Get y puede ser llamado normal mente con los {{}} -->
</dl>

<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button> <!-- en el ngIF si el nombre es diferente de Spiderman desaparece boton -->

<button
  *ngIf="age !== 25"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar edad
</button> <!-- en el ngIF si la edad es diferente de 25 desaparece boton -->

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
  Reset Form
</button> <!--al dar click reseto el formulario con la informacion en el componente.ts-->
