<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger">{{ deletedHero }}</small> </h3>
</div> <!-- usamos div pero no es necesario se uso para el ejemplo -->

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template> <!-- el ng-template es como si fuera <> nada se muestra en consola ni aun como Div -->



<button *ngIf="heroNames.length > 0"
        (click)="removeLastHero()"
        class="btn btn-outline-danger">
   Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">{{ name }}</li> <!-- name representa el nombre del valor que tiene el objeto
 -->
</ul>

